<div th:fragment="hoanCanhQuyenGopFragment">
<div  class="py-4 " style="background-color: #ffffff;">
  <div class="w-auto px-5 px-md-4 px-lg-4">
    <div class="mb-5 mb-md-4 text-center">
      <h2 class="" style="">
        CÁC HOẠT ĐỘNG ĐANG DIỄN RA
      </h2>
    </div>
    <div class="container mt-4">
      <!-- Tab Navigation -->
      <!-- Tab Content -->
      <div class="row">

        <!----->
        <div class="col-md-4" th:each="fund : ${funds}">
          <a href="detailFragment" class="text-decoration-none" style="color: black;">

            <div class="donation-item d-flex flex-column overflow-hidden rounded border border-light bg-white text-dark shadow-sm transition">
              <div class="dn-img d-flex">
            <span class="position-relative w-100" style="display:block; overflow:hidden; height: 0; padding-top: 75%;">
                <img alt="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111637-638162901971523820.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: cover;">
            </span>
              </div>
              <div class="dn-body flex-grow-1 px-4 pb-3 pt-4">
                <div class="dn-title h5 font-weight-bold" th:text="${fund.name}"></div>
              </div>
              <div class="dn-footer mb-4 px-4 pt-0">
                <div class="mb-3 d-flex align-items-center">
                  <div class="flex-grow-1 text-xs text-muted" th:text="${fund.foundation.name}">t</div>
                  <div class="shrink-0"></div>
                </div>
                <div class="dn-detail">
                  <div class="dn-money mb-2 d-flex align-items-end">
                    <strong class="item-end d-flex align-items-center text-dark" >đ/</strong>
                    <span class="pl-2 text-xs text-muted" th:text="${fund.expectedResult}"></span><Span> đ</Span>
                  </div>
                  <div class="dn-progress my-1 d-flex h-1.5 w-100 overflow-hidden rounded bg-light">
                    <div class="dn-progress-bar done bg-success h-1.5" style="width: 100%;"></div>
                  </div>
                  <div class="mt-3 d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Lượt quyên góp</div>
                      <div class="text-sm font-weight-bold text-dark">20.484</div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Đạt được</div>
                      <div class="text-sm font-weight-bold text-dark">100%</div>
                    </div>
                    <div class="position-relative">
                      <a href="/cong-dong/chung-tay-trao-tang-tui-ngu-va-the-ve-sinh-cho-200-manh-doi"
                         style="position: absolute; inset: 0; z-index: 1;"
                         title="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang"></a>
                      <span class="btn btn-outline-secondary">Đạt mục tiêu</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

      </div>

    <div class="mb-5 mb-md-4 my-2 text-center">
      <h2 class="" style="">
        CÁC HOẠT ĐỘNG ĐÃ HOÀN THÀNH
      </h2>
    </div>
    <div class="container mt-4">
      <!-- Tab Navigation -->
      <!-- Tab Content -->
      <div class="row">

        <!----->
        <div class="col-md-4">
          <a href="detailFragment" class="text-decoration-none" style="color: black;">

            <div class="donation-item d-flex flex-column overflow-hidden rounded border border-light bg-white text-dark shadow-sm transition">
              <div class="dn-img d-flex">
            <span class="position-relative w-100" style="display:block; overflow:hidden; height: 0; padding-top: 75%;">
                <img alt="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111637-638162901971523820.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: cover;">
            </span>
              </div>
              <div class="dn-body flex-grow-1 px-4 pb-3 pt-4">
                <div class="dn-title h5 font-weight-bold">Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang</div>
              </div>
              <div class="dn-footer mb-4 px-4 pt-0">
                <div class="mb-3 d-flex align-items-center">
                  <div class="shrink-0">
                    <div class="overflow-hidden rounded-circle border border-light p-1">
                      <div class="position-relative" style="width: 45px; height: 45px;">
                        <img alt="DNXH Trăng Khuyết" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111645-638162902054734839.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: contain;">
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-xs text-muted">DNXH Trăng Khuyết</div>
                  <div class="shrink-0"></div>
                </div>
                <div class="dn-detail">
                  <div class="dn-money mb-2 d-flex align-items-end">
                    <strong class="item-end d-flex align-items-center text-dark">150.159.287đ</strong>
                    <span class="pl-2 text-xs text-muted">/ 150.000.000đ</span>
                  </div>
                  <div class="dn-progress my-1 d-flex h-1.5 w-100 overflow-hidden rounded bg-light">
                    <div class="dn-progress-bar done bg-success h-1.5" style="width: 100%;"></div>
                  </div>
                  <div class="mt-3 d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Lượt quyên góp</div>
                      <div class="text-sm font-weight-bold text-dark">20.484</div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Đạt được</div>
                      <div class="text-sm font-weight-bold text-dark">100%</div>
                    </div>
                    <div class="position-relative">
                      <a href="/cong-dong/chung-tay-trao-tang-tui-ngu-va-the-ve-sinh-cho-200-manh-doi"
                         style="position: absolute; inset: 0; z-index: 1;"
                         title="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang"></a>
                      <span class="btn btn-outline-secondary">Đạt mục tiêu</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="detailFragment" class="text-decoration-none" style="color: black;">

            <div class="donation-item d-flex flex-column overflow-hidden rounded border border-light bg-white text-dark shadow-sm transition">
              <div class="dn-img d-flex">
            <span class="position-relative w-100" style="display:block; overflow:hidden; height: 0; padding-top: 75%;">
                <img alt="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111637-638162901971523820.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: cover;">
            </span>
              </div>
              <div class="dn-body flex-grow-1 px-4 pb-3 pt-4">
                <div class="dn-title h5 font-weight-bold">Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang</div>
              </div>
              <div class="dn-footer mb-4 px-4 pt-0">
                <div class="mb-3 d-flex align-items-center">
                  <div class="shrink-0">
                    <div class="overflow-hidden rounded-circle border border-light p-1">
                      <div class="position-relative" style="width: 45px; height: 45px;">
                        <img alt="DNXH Trăng Khuyết" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111645-638162902054734839.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: contain;">
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-xs text-muted">DNXH Trăng Khuyết</div>
                  <div class="shrink-0"></div>
                </div>
                <div class="dn-detail">
                  <div class="dn-money mb-2 d-flex align-items-end">
                    <strong class="item-end d-flex align-items-center text-dark">150.159.287đ</strong>
                    <span class="pl-2 text-xs text-muted">/ 150.000.000đ</span>
                  </div>
                  <div class="dn-progress my-1 d-flex h-1.5 w-100 overflow-hidden rounded bg-light">
                    <div class="dn-progress-bar done bg-success h-1.5" style="width: 100%;"></div>
                  </div>
                  <div class="mt-3 d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Lượt quyên góp</div>
                      <div class="text-sm font-weight-bold text-dark">20.484</div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Đạt được</div>
                      <div class="text-sm font-weight-bold text-dark">100%</div>
                    </div>
                    <div class="position-relative">
                      <a href="/cong-dong/chung-tay-trao-tang-tui-ngu-va-the-ve-sinh-cho-200-manh-doi"
                         style="position: absolute; inset: 0; z-index: 1;"
                         title="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang"></a>
                      <span class="btn btn-outline-secondary">Đạt mục tiêu</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="detailFragment" class="text-decoration-none" style="color: black;">

            <div class="donation-item d-flex flex-column overflow-hidden rounded border border-light bg-white text-dark shadow-sm transition">
              <div class="dn-img d-flex">
            <span class="position-relative w-100" style="display:block; overflow:hidden; height: 0; padding-top: 75%;">
                <img alt="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111637-638162901971523820.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: cover;">
            </span>
              </div>
              <div class="dn-body flex-grow-1 px-4 pb-3 pt-4">
                <div class="dn-title h5 font-weight-bold">Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang</div>
              </div>
              <div class="dn-footer mb-4 px-4 pt-0">
                <div class="mb-3 d-flex align-items-center">
                  <div class="shrink-0">
                    <div class="overflow-hidden rounded-circle border border-light p-1">
                      <div class="position-relative" style="width: 45px; height: 45px;">
                        <img alt="DNXH Trăng Khuyết" src="https://homepage.momocdn.net/blogscontents/momo-upload-api-230405111645-638162902054734839.jpg" class="position-absolute top-0 start-0 w-100 h-100" style="object-fit: contain;">
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-xs text-muted">DNXH Trăng Khuyết</div>
                  <div class="shrink-0"></div>
                </div>
                <div class="dn-detail">
                  <div class="dn-money mb-2 d-flex align-items-end">
                    <strong class="item-end d-flex align-items-center text-dark">150.159.287đ</strong>
                    <span class="pl-2 text-xs text-muted">/ 150.000.000đ</span>
                  </div>
                  <div class="dn-progress my-1 d-flex h-1.5 w-100 overflow-hidden rounded bg-light">
                    <div class="dn-progress-bar done bg-success h-1.5" style="width: 100%;"></div>
                  </div>
                  <div class="mt-3 d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Lượt quyên góp</div>
                      <div class="text-sm font-weight-bold text-dark">20.484</div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="text-xs text-muted">Đạt được</div>
                      <div class="text-sm font-weight-bold text-dark">100%</div>
                    </div>
                    <div class="position-relative">
                      <a href="/cong-dong/chung-tay-trao-tang-tui-ngu-va-the-ve-sinh-cho-200-manh-doi"
                         style="position: absolute; inset: 0; z-index: 1;"
                         title="Chung tay trao tặng túi ngủ và thẻ vệ sinh cho 200 mảnh đời lang thang"></a>
                      <span class="btn btn-outline-secondary">Đạt mục tiêu</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
