<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main th:fragment="content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a
              href="${pageContext.request.contextPath}/home"><i
              class="fa-solid fa-house"></i></a></li>
      <li class="breadcrumb-item active"><a
              href="${pageContext.request.contextPath}/home">Quỹ Từ Thiện</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tìm kiếm</li>
    </ol>
  </nav>
  <div class="content-header">
    <h3 class="content-title display-5 text-center">Kết quả tìm kiếm
      cho từ khóa : ${param.keyword}</h3>
    <hr class="content-title-underline">
  </div>
  <div>
    <div th:replace="layout/displayFundList :: displayFundListFragment"></div>
  </div>
</main>
</body>
</html>